<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/png" href="{{ .DocumentRoot }}/static/img/favicon.ico" />
    <link rel="stylesheet" href="{{ .DocumentRoot }}/static/css/main.css" />
    <meta name="robots" content="noindex, nofollow" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=7"
    />

    {{ if .Redirect }}
        <meta http-equiv="refresh" content="5; url={{ .RedirectURL }}">
    {{ end }}
    <title>Apiiro - {{ .Msg }}</title>
  </head>
  <body>
    <div class="content">
      <h1>{{ .Msg }}</h1>

      {{ if .Redirect }}
        <p>
          Retrying, if you are not redirected in a few seconds, <a href="{{ .RedirectURL }}">click here</a>
        </p>
      {{ end }}

      {{ if .Testing }}
        <p class="test">
          <h2>-- test mode --</h2>
            The config file includes <code>testing: true</code>
        <p/>
        All 302 redirects will be captured and presented as links here
        <ul>
          <li><a href="{{ .DocumentRoot }}/login">login</a></li>
          <li><a href="{{ .DocumentRoot }}/logout">logout</a></li>
          <li><a href="{{ .DocumentRoot }}/validate">validate</a></li>
          {{ if .TestURLs }}
            {{ range $url := .TestURLs}}
            <li><a href="{{ $url }}">{{ $url }}</a></li>
            {{ end }}
          {{ end }}
        </ul>
      {{ end }}

      <div class="bottom">
        Please contact your admin or Apiiro support at <a href="mailto:support@apiiro.com">support@apiiro.com</a>
      </div>
    </div>
  </body>
</html>
